.form-control {
    margin-bottom: 15px;
}

.form-control:focus {
    /* outline: 1px solid rgb(226,131,8); */
    border: 1px solid rgb(226,131,8);
}

label {
    font-size: .9em;
    font-weight: 500;
    margin-bottom: 5px;
}