.form-control {
    margin-bottom: 15px;
}

.form-control:focus {
    /* outline: 1px solid rgb(226,131,8); */
    border: 1px solid rgb(226,131,8);
}

label {
    font-size: .9em;
    font-weight: 500;
    margin-bottom: 5px;
}

/* REMOVE Bootstrap blue focus glow */
input:focus,
.form-control:focus {
    border-color: rgb(226,131,8) !important;
    outline-color: rgb(226,131,8) !important;
    box-shadow: none !important;
}

.input-group:focus-within {
    border-color: rgb(226,131,8) !important;
    outline-color: rgb(226,131,8) !important;
    box-shadow: none !important;
}

.is-valid:focus,
.is-invalid:focus {
    box-shadow: none !important;
}

.is-invalid {
    border: 2px solid #dc3545 !important;
    outline-color: #dc3545 !important;
}

.tick {
    display: inline-block;
    animation: pop 0.25s ease-in-out;
}

@keyframes pop {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.small p {
    transition: all 0.2s ease;
}

.small p.text-success {
    transform: translateX(3px);
}