* {
    scrollbar-width: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}   

#carouselExampleSlidesOnly {
    max-height: 100vh;
    overflow: hidden;
}

#carouselExampleSlidesOnly .carousel-inner,
#carouselExampleSlidesOnly .carousel-item,
#carouselExampleSlidesOnly .carousel-item img {
    height: 100vh;
}

#carouselExampleSlidesOnly .carousel-item img {
    width: 100%;
    object-fit: cover;
    max-height: 100vh;
    filter: brightness(0.4);
}

.carousel {
    position: relative;
}

.carousel-fixed-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
    transform: translateY(-8%);
}

.carousel-fixed-content button,
.carousel-fixed-content a {
    pointer-events: auto;
}

.carousel-fixed-content h2,
.carousel-fixed-content p {
    margin: 0;
}

@media (max-width: 768px) {
    .carousel-fixed-content {
        transform: translateY(-4%);
    }
}

.text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

@keyframes fadeInOut {
    0%,
    100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

.fadeAndSlide {
    animation: fadeAndSlide 5s ease-in-out infinite;
}

@keyframes fadeAndSlide {
    0% {
        opacity: 0.5;
        transform: translateY(10px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0.5;
        transform: translateY(-10px);
    }
}

.input-group:focus-within {
    outline: 1px solid rgb(27, 181, 204);
    border: 1px solid rgb(27, 181, 204) !important;
}

.create-event {
    border: 1px dashed rgb(27, 181, 204);
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-event:hover {
    background-color: rgba(27, 181, 204, 0.1);
}

.browse-card {
    transition: 0.3s;
    cursor: pointer;
}

.browse-card:hover {
    transform: translate(2px, -4px);
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.2) !important;
}

.thead th,
.tbody td {
    padding: 12px 30px !important;
}

.event-media{
    transition: .2s;
}

.event-media:hover {
    background-color: rgba(128, 128, 128, 0.04);
}

.preview-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}